html {
				text-align: center;
				font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
				font-size: 12px;
			}

			body {
				background: url('https://imagizer.imageshack.us/a/img923/8540/iKnaiD.jpg');
				background-size: 100%;
				background-repeat: no-repeat;
			}

			#title {
				font-size: 28px;
				font-style: normal;
			}

			#login {
				width: 500px;
				height: 500px;
				position: absolute;
				left: 50%;
				top: 50%;
				margin: -250px 0 0 -250px;
			}

			#loginFields {
				background-color: rgb(255,255,255);
				border: thin solid;
				width: 300px;
				margin: auto;
				padding: 30px;
				padding-top: 0;
				box-shadow: 3px 3px 8px;
				margin-bottom: 10px;
				position: relative;
			}

			.field {
				width: 300px;
				height: 30px;
				margin-bottom: 10px;
			}

			.button {
				width: 306px;
				height: 30px;
				margin-bottom: 10px;
				border-radius: 2px;
				border: thin solid rgb(231,231,231);
				background-color: rgb(231,231,231);
			}

			footer {
				display: block;
				position: absolute;
				color: white;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100px;
			}

			.error-msg {
				color: red;
				text-align: left;
			}